<!--views/index.ejs - will list all users created-->

<!DOCTYPE html>
<html lang="en">
  <!--EJS Header-->
  <%- include("./partials/header.ejs")%>
  <body>
    <h1><%=title%></h1>
    <!-- User List (Index)-->
    <div class="user-list-container">
      <ul>
        <%if(users){%> <%users.forEach(user =>{%>
        <li>
          ID: <%=user.id%>, Name: <%=user.firstName%> <%=user.lastName%>, Email:
          <%= user.email%>, Age:<%=user.age%>, Bio:<%=user.bio%>
        </li>
        <a href="/<%=user.id%>/update">Update</a>
        <!--Send Post request to router so a form is needed -->
        <form
          action="/<%=user.id%>/delete"
          method="POST"
          style="display: inline"
        >
          <button
            type="submit"
            onclick="return confirm('Are you sure you want to delete this user?')"
          >
            Delete
          </button>
        </form>
        <%});%> <%}%>
      </ul>
      <a href="/create">Create a User</a><br /><br />
      <a href="/getSearchForm">Search for User</a>
    </div>
  </body>
</html>
